
1.Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system'
f =open('test.txt','w')
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [ ]:
f = open('test.txt','r')

In [ ]:
test2 = f.read()

In [ ]:
test2

'This is a test of the emergency text system'

no difference between test1 and test2

In [ ]:
f.close()

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
import csv

In [ ]:
header = ["title","author","year"]

In [ ]:
data = [
    ["The Weirdstone of Brisingamen","Alan Garner",1960 ],
    ["Perdido Street Station","China Miéville",2000],
    ["Thud!","Terry Pratchett",2005],
    ["The Spellman Files","Lisa Lutz",2007],
    ["The Spellman Files","Lisa Lutz",2007],
    ["Small Gods","Terry Pratchett",1992]  
]

In [ ]:
with open("books.csv","w", encoding='UTF8', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [ ]:
import sqlite3

In [ ]:
db= sqlite3.connect("books.db")

5. Read books.csv and insert its data into the book table.

In [ ]:
file1 = open('books.csv')

In [ ]:
file1.read()

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China MiÃ©ville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992\n'

In [ ]:
file1 = open('books.csv')

In [ ]:
contents = csv.reader(file1)

In [ ]:
db1 = sqlite3.connect('books1.db')

In [ ]:
cursor = db1.cursor()

In [ ]:
cursor.execute('create table books1 (title text, author text, year int)')

In [ ]:
insert_data = "insert into books1 (title ,author, year) values(?, ?, ?)"

In [ ]:
cursor.executemany(insert_data, contents)

In [ ]:
for i in cursor.execute('select *from books1'):
    print(i)

('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

6. Select and print the title column from the book table in alphabetical order.

In [ ]:
for i in cursor.execute('select title from books1'):
    print(i)

('title',)
('The Weirdstone of Brisingamen',)
('Perdido Street Station',)
('Thud!',)
('The Spellman Files',)
('The Spellman Files',)
('Small Gods',)

In [ ]:
db.commit()

In [ ]:
cursor.fetchall()

[]

6. Select and print the title column from the book table in alphabetical order.

In [ ]:
for i in cursor.execute('select title from books1 order by title'):
    print(i)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('title',)

7. From the book table, select and print all columns in the order of publication.

In [ ]:
for i in cursor.execute('select *from books1 order by year'):
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China MiÃ©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)
('title', 'author', 'year')

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.

In [ ]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite:///books.db', echo = True)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [ ]:
pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\samarth\appdata\roaming\python\python39\site-packages (from redis) (21.3)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\programdata\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\samarth\appdata\roaming\python\python39\site-packages (from packaging>=20.4->redis) (3.0.6)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test','count', 3)