<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-15. Write an SQL query to fetch intersecting records of two tables.
Ans. 
select EmpID from Employees intersect EmpID from new_employees

In [ ]:
Q-16. Write an SQL query to show records from one table that another table does not
have.
Ans.
select EmpID from Employees except EmpID from new_employees