<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-13. Write an SQL query to show only odd rows from aÂ table.
Ans. select * from employees where mod(EMPID,2) <> 0

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.
Ans. Select * into new_table from old_table.