<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.
Ans.

select * from (Select name,salary,dense_rank() over(ORDER BY salary DESC) as Salary_ranking from employees) where Salary_ranking = 5

In [ ]:
Q-20. Write an SQL query to fetch the list of employees with the same salary.
Ans.

Select * from employees e, employees e1 WHERE e.salary = e1.salary