<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.
Ans. SELECT left(FIRST_NAME,3) from Worker;

In [ ]:
Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Ans. SELECT CHARINDEX('a',first name) from Worker table

In [ ]:
Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.
Ans. select ename,salary,department from employees where (department,salary) in (select max(salary),department from employees group by department)