<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
Ans.
select * from Workers where hiredate like '%feb-2014%'

In [ ]:
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.
Ans.
select Column_name,count(*) from table_name group by column_name having count(*) > 1

In [ ]:
Q-3. How to remove duplicate rows from Employees table.
Ans. 
DELETE
FROM table
WHERE col1 IN (
    SELECT id
    FROM table
    GROUP BY id
    HAVING (COUNT(col1) > 1)
)