<a href="https://colab.research.google.com/github/akhil0949/Ass-1---10/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q-17. Write an SQL query to show the top n (say 10) records of a table.
Ans. 
select * from Employee ORDER BY primary_column DESC LIMIT n

In [ ]:
Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.
Ans. 
Select Salary from employees order by Salary DESC limit n-1,1